
.debug {
    border: solid red 1px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25rem;
}

